@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

p {
  font-size: 16px;
}

.main-container {
  width: 45%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color:  hsl(0, 0%, 100%);
}

.left-container {
  background-image: url(images/image-product-desktop.jpg);
  background-size:cover;
  width: 50%;
  border-radius: 15px 0px 0px 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.right-container {
  width: 50%;
  padding: 30px 25px 30px 30px;
}

.button {
  background-color: rgb(61, 129, 104);
  text-align: center;
  border-radius: 10px;
  padding: 15px 10px;
  color:  hsl(0, 0%, 100%);
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: rgb(27, 63, 49);
}

 #perfume-header {
   font-family: 'Montserrat', sans-serif;
   color: hsl(228, 12%, 48%);
   font-weight:600;
   letter-spacing: 5px;
 }

 #perfume-title {
   font-family: 'Fraunces', serif;
   font-size: 35px;
   margin-right: 60px;
   line-height: 1;
 }

 #perfume-description {
   font-family: 'Montserrat', sans-serif;
   color: rgb(113,113,123);
   font-weight:600;
   margin-right: 30px;
   line-height: 26px
 }

  #new-price {
   color: rgb(61, 129, 104);
   font-family: 'Fraunces', serif;
   font-size:30px;
 }

  #old-price {
    font-size: 12px;
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left:25px;
    vertical-align: super;
    font-weight: bold;
  }

  #icon {
    vertical-align:middle;
    margin-right: 15px;
  }

/* Mobile media query*/

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 95vh;
  }

  .left-container {
    width: 90vw;
    height: 35%;
    background-image: url(images/image-product-mobile.jpg);
    border-radius: 15px 15px 0px 0px;
  }

  .right-container {
    width: 90vw;
    height: 65%;
  }

  #perfume-title {
    margin-right: 0px;
    font-size: 30px;
  }

  #perfume-description {
    margin-right: 0px;
  }

  .button {
    margin-right: 0px;
  }
}
